@top-toolbar-height: 60px;

.top-toolbar {
  position: relative;
  z-index: 1000;
  height: @top-toolbar-height;

  &__fixed {
    position: fixed;
    top: 0;
    left: 0;
    height: @top-toolbar-height;
    background: @color-top-toolbar;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &-text {
      color: @color-text;
      line-height: 30px;
      letter-spacing: 0.05em;
      font-size: 24px;
      font-weight: 700;
    }


    &-left,
    &-right {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
    }
  }

  &__icon {
    width: 28px;
    height: 28px;
    color: @color-text;
  }

  &__shadow {
    position: fixed;
    height: 4px;
    left: 0;
    top: @top-toolbar-height;
    width: 100%;
    background: linear-gradient(to bottom, fade(@color-top-toolbar-shadow, 25%), fade(@color-top-toolbar-shadow, 0%));
  }
}
