* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  overflow-y: scroll;
  overflow-x: auto;
  font-family: @font-text;
  font-weight: 400;
  font-style: normal;
  transition: transform 0.5s ease 0s;
}

._margin_no {
  margin: 0 !important;
}

svg {
  width: inherit;
  height: inherit;
  fill: currentColor;
}
